/* Required for full background image */

html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 600px;
  }
}

h1 h6 {
  line-height: 1.7;
}

.down-logo {
    animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

.card-a hr {
    width: 60%;
    color: #fff;
    margin: auto;
}

.card-logo hr{
    margin: 10px auto;
    border: 2px solid black;
}

.card-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
}

.card-a h5 {
    font-family: "Luxurious Roman";

}

.card-a span {
    color: #edf6f9;
    font-size: 1.5rem;
}

.joinus button {
    background-color: #02C39A;
    color: #000;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-family: "Luxurious Roman";
    margin: 10px 0px;
    animation: btn-joinus 10s infinite;
}

.submit-btn button {
    background-color: #02C39A;
    color: #000;
    border-radius: 20px;
    border: none;
    padding: 0px 20px;
    font-size: 1.5rem;
    font-family: "Luxurious Roman";
    margin: 10px 0px;
}

@keyframes btn-joinus {
    0% {
        background-color: #02C39A;
        color: #000;
    }
    50% {
        background-color: #000;
        color: #02C39A;
    }
    100% {
        background-color: #02C39A;
        color: #000;
    }
}
/* box-shadow: 4px 4px 20px #000 ; */

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(10%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(10%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}

@keyframes small-logo {
    0% {
        height: 80px;
    }
    100% {
        height: 50px;
    }
}

@keyframes big-logo {
    0% {
        height: 50px;
    }
    100% {
        height: 80px;
    }
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }